<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\..\FrameXML\UI.xsd">
	<Script file="Config.lua"/>

	<Frame name="CaerdonWardrobeConfigFrame" hidden="true" secureMixin="CaerdonWardrobeConfigMixin">
       <Layers>
            <Layer level="ARTWORK">
                <FontString name="$parentTitle" text="CAERDON_CONFIG_LABEL" inherits="GameFontNormalLarge" justifyH="LEFT" justifyV="TOP">
                <Anchors>
                    <Anchor point="TOPLEFT">
                    <Offset>
                        <AbsDimension x="16" y="-16"/>
                    </Offset>
                    </Anchor>
                </Anchors>
                </FontString>
                <FontString name="$parentSubText" text="CAERDON_CONFIG_SUBTEXT" inherits="GameTooltipText" nonspacewrap="true" justifyH="LEFT" justifyV="TOP">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeTo="$parentTitle" relativePoint="BOTTOMLEFT">
                    <Offset>
                        <AbsDimension x="0" y="-8"/>
                    </Offset>
                    </Anchor>
                    <Anchor point="RIGHT">
                    <Offset>
                        <AbsDimension x="-32" y="0"/>
                    </Offset>
                    </Anchor>
                </Anchors>
                </FontString>
            </Layer>
        </Layers>
		<Scripts>
			<OnLoad method="OnLoad"/>
            <OnEvent method="OnEvent"/>
        </Scripts>
    </Frame>

    <Include file="ConfigPanel.xml" />
	<Include file="General.xml" />
	<Include file="BankAndBags.xml" />
	<Include file="GuildBank.xml" />
	<Include file="Merchant.xml" />
	<Include file="Auction.xml" />
	<Include file="EncounterJournal.xml" />

</Ui>